<div class="container micontenedor">

    <div class="card">
      <div class="card-header">
        <h5>Nuevo usuario</h5>
      </div>
      <div class="card-body">
          <div>
            <div class="form-group row">
              <label class="control-label col-sm-2" for="nombre">Nombre:</label>
              <div class="col-sm-10">
                <input [(ngModel)]="usuarioNuevo.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre del usuario">
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-sm-2" for="direccion">Dirección:</label>
              <div class="col-sm-10">
                <input  [(ngModel)]="usuarioNuevo.direccion" type="text" class="form-control" id="direccion" placeholder="Dirección del usuario">
              </div>
            </div>
          </div>
      </div>
      <div class="card-footer text-muted text-right">
          <button (click)="crearUsuario()"  type="button" class="btn btn-success text-right">Agregar</button>
      </div>
    </div>
  
    <div class="card card-lista">
        <div class="card-header">
          <h5>Lista de usuarios</h5>
        </div>
        <div class="card-body miscroll">
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">Rentas totales</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{usuario.nombre}}</td>
                  <td>{{usuario.direccion}}</td>
                  <td>{{usuario.rentasTotales}}</td>
                  <td>
                      <button (click)="modoEditarUsuario(usuario, i)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Modificar</button>
                      <button (click)="eliminarUsuario(usuario)" type="button" class="btn btn-danger">Eliminar</button>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="form-group row">
                  <label class="control-label col-sm-3" for="nombre">Nombre:</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="usuarioAModificar.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre del usuario">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-3" for="direccion">Dirección:</label>
                  <div class="col-sm-9">
                    <input  [(ngModel)]="usuarioAModificar.direccion" type="text" class="form-control" id="direccion" placeholder="Dirección del usuario">
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnModalCancel">Cancelar</button>
          <button (click)="modificarUsuario()" type="button" class="btn btn-primary">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>

  