<div class="container micontenedor">

  <div class="card">
      <div class="card-header">
        <h5>Nueva película</h5>
      </div>
      <div class="card-body">
          <div>
            <div class="form-group row">
              <label class="control-label col-sm-2" for="nombre">Nombre:</label>
              <div class="col-sm-10">
                <input [(ngModel)]="peliculaNueva.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre de la película">
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-sm-2" for="descripcion">Descripción:</label>
              <div class="col-sm-10">
                <input  [(ngModel)]="peliculaNueva.descripcion" type="text" class="form-control" id="descripcion" placeholder="Descripción de la película">
              </div>
            </div>
          </div>
      </div>
      <div class="card-footer text-muted text-right">
          <button (click)="crearPelicula()"  type="button" class="btn btn-success text-right">Agregar</button>
      </div>
    </div>

  <div class="card card-lista">
    <div class="card-header">
      <h5>Lista de películas</h5>
    </div>
    <div class="card-body miscroll">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estatus</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pelicula of peliculas; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{pelicula.nombre}}</td>
              <td>{{pelicula.descripcion}}</td>
              <td>{{pelicula.arrendatario ? "Rentada" : "Disponible"}}</td>
              <td>
                  <button (click)="modoEditarPelicula(pelicula, i)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Modificar</button>
                  <button (click)="eliminarPelicula(pelicula)" type="button" class="btn btn-danger">Eliminar</button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar película</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="form-group row">
                  <label class="control-label col-sm-3" for="nombre">Nombre:</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="peliculaAModificar.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre de la película">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-3" for="descripcion">Descripción:</label>
                  <div class="col-sm-9">
                    <input  [(ngModel)]="peliculaAModificar.descripcion" type="text" class="form-control" id="descripcion" placeholder="Descripción de la película">
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnModalCancel">Cancelar</button>
          <button (click)="modificarPelicula()" type="button" class="btn btn-primary">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>
