<div class="container micontenedor">

  <div class="card card-lista">
      <div class="card-header">
        <h5>Rentas y devoluciones</h5>
      </div>
      <div class="card-body miscroll">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
              <th scope="col">Estatus</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pelicula of peliculas; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{pelicula.nombre}}</td>
                <td>{{pelicula.descripcion}}</td>
                <td>{{pelicula.arrendatario ? "Rentada" : "Disponible"}}</td>
                <td>
                    <button (click)="modoRentarPelicula(pelicula, i)" *ngIf="!pelicula.arrendatario" type="button" class="btn btn-primary" data-toggle="modal" data-target="#rentarModal">Rentar</button>
                    <button (click)="devolverPelicula(pelicula, i)" *ngIf="pelicula.arrendatario" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Devolver</button>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>

<!-- Modal rentar -->
<div class="modal fade" id="rentarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rentar película</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="form-group row">
                  <label class="control-label col-sm-3" for="nombre">Usuario:</label>
                  <div class="col-sm-9">
                      <select [(ngModel)]="usuarioQueRenta" class="form-control">
                        <option *ngFor="let usuario of usuarios" [ngValue]="usuario">
                            {{usuario.nombre}}
                        </option>
                      </select>
                  </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnModalCancel">Cancelar</button>
          <button (click)="rentarPelicula()" type="button" class="btn btn-primary">Rentar</button>
        </div>
      </div>
    </div>
  </div>